<input type="text" name="idUser" id="idUser" placeholder="Id del Usuario" [(ngModel)]="idUser">
<button type="button" class="btn btn-primary" (click)="onMostrarObs()">Mostrar</button>
<div>
  <h4>Cambios</h4>
  <div>
    <input type="text" name="name" id="name" placeholder="Nombre del Usuario" [(ngModel)]="user.name">
  </div>
  <div>
    <input type="email" name="email" id="email" placeholder="Email del Usuario" [(ngModel)]="user.email">
  </div>
  <button type="button" class="btn btn-primary" (click)="onAdd()">Añadir</button>
  <button type="button" class="btn btn-primary" (click)="onModificar()">Modificar</button>
  <button type="button" class="btn btn-primary" (click)="onBorrar()">Borrar</button>
</div>
<div *ngIf="aUsuarios.length">
  {{ aUsuarios | json }}
</div>